---
const { title, education } = Astro.props;
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
>
  <h2 class="w-[15rem] mt-16">{title}</h2>
  <div class="w-full">
    {education.map((item) => (
        <div class="my-16">
            <div class="flex justify-between items-center flex-wrap">
                <h3 class="text-xl font-semibold">{item.name}</h3>
            </div>

            <ul>
                <li class="dark:text-gray">{item.description[0]}
                 <a target="_blank" href="https://drive.google.com/drive/folders/1OAiaHKR0dMNugsF7Z5iMs41SBLv98Rpx" class="font-semibold dark:text-light">- find my certifications <span class="text-cyan-500 underline">here:</span></a>
                </li>
                <li class="dark:text-gray">{item.description[1]}</li>
            </ul>
        </div>
            ))}
  </div>  
</section>
