---
const { name, about } = Astro.props;
---

<section>
  <p class="dark:text-light mt-[117px]">Hey, I’m</p>
  <h1>{name}</h1>

  <div class="mb-16">
    {about.map((description, i) => (
    <p class="dark:text-light text-lg mb-1">
      {description}
    </p>    
    ))}
  </div>
</section>
